/* HOME page */

#title_banner {
  text-align: center;
  padding-top: 10%;
  h1 {
    font-size: 6em;
    font-family: 'Merienda', cursive;
    font-variant: normal;
  }
  p.lead {
    font-size: 2em;
    margin: 50px auto;
  }
  #signup_button {
    display: block;
    a.btn {
      width: 200px;
      margin-bottom: 15px;
    }
  }
}

#post_response_buttons {
  .btn {
    width: 100%;
    padding: 1.10em 0;
    font-size: 1.5em;
    @include center-block();
  }
}

#post_form {
  .field_with_errors {
    text-align: center;
    display: inline;
  }
}