<% provide(:page_title, "About") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row" id="about">
            <h1>How it works</h1>
            <div class="panel-focus">
              <h4>Post a thought, question, statement, haiku, photo, idea...</h4>
              <p>Your thought will be contemplated, possibly discussed amongst friends, re-read, and a thoughtful response will be returned to you.</p>
              <p>The response may be funny or wise.  It might be thought provoking.  But it will be crafted with care by another human being.</p>
              <h4>Responding to a thought</h4>
              <p>Be prepared to respond to anything.  Feel free to respond in any format.</p>
              <p>You have 24 hours to send a response once you have clicked the 'Respond' button.</p>
              <p>It is not necessary to be clever or wise.  The only requirement is thoughtfulness.</p>
            </div>

            <div class="accordion">

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                  <p>So this is like a pen-pal thing?</p>
                </a>
                <div id="collapseOne" class="collapse">
                  <p>
                    No.  For starters, we're not 10 years old anymore.  Secondly, this is not a long correspondence which fizzles out over time.  It's more like a firecracker.  A burst of energy which (hopefully) leaves your head spinning for some time afterwards.
                  </p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                  <p>How long will it take to receive a response to my thought?</p>
                </a>
                <div id="collapseTwo" class="accordion-body collapse">
                  <p>It's difficult to say as it depends on the number of users posting and responding.  Typically a response should be returned to you within 2 days.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                  <p>So there's only one response per thought?</p>
                </a>
                <div id="collapseThree" class="accordion-body collapse">
                  <p>Not necessarily.  A responder can choose to repost a thought when responding.  The reposted thought is then re-queued for another response.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                  <p>How do the ratings work?</p>
                </a>
                <div id="collapseFour" class="accordion-body collapse">
                  <p>The author or reposter of a thought has the ability to rate a response to that thought.  These ratings along with certain other criteria go into determining a user's karma.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>