<% provide(:page_title, "About") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row" id="about">
            <h1>About</h1>
            <div class="explanation">
              <p><span class="thoughtsy">Thoughtsy</span> is a thought exchange.<p>
              <p>A place to share what's on your mind and reflect on the thoughts of others.</p>
              <p>Ask for some specific advice or wax poetic on a topic of your choice.</p>
              <p>Be as serious or as silly as you want.</p>
              <p>Wit and wisdom are welcome but not required.</p>
            </div>
            <% if signed_in? %>
              <%= link_to "Share something!", new_post_path, class: "btn btn-lg btn-primary" %>
            <% else %>
              <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
            <% end %>

            <h1>Faqs</h1>
            <div class="accordion center">

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                  <p>Is this like a pen-pal thing?</p>
                </a>
                <div id="collapseOne" class="collapse">
                  <p>
                    No.  In fact it's quite the opposite.  A brief exchange without any other obligations.  A non-social correspondence.
                  </p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                  <p>What's with the 24 hour time limit?</p>
                </a>
                <div id="collapseTwo" class="accordion-body collapse">
                  <p>The time limit is to allow for contemplation while ensuring that a thought be responded to within a reasonable amount of time.  If a response is not posted within 24 hours after viewing a thought, the thought will be made available to other users and the responder's karma will suffer.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                  <p>How long will it take to receive a response to my thought?</p>
                </a>
                <div id="collapseThree" class="accordion-body collapse">
                  <p>It's difficult to say as it depends on the number of users posting and responding.  Typically a response should be returned to you within 2 days.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                  <p>So there's only one response per thought?</p>
                </a>
                <div id="collapseFour" class="accordion-body collapse">
                  <p>Not necessarily.  A responder can choose to 'repost' a thought when responding.  The reposted thought will then be re-queued for another response.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                  <p>How do the ratings and user karma work?</p>
                </a>
                <div id="collapseFive" class="accordion-body collapse">
                  <p>The author and any reposters of a thought can rate responses to that thought.  Effort and thoughtfulness are sure ways to grow your karma.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
                  <p>What is that picture next to my name and how do I change it?</p>
                </a>
                <div id="collapseSix" class="accordion-body collapse">
                  <p>Thats your user image and <span class="thoughtsy">Thoughtsy</span> uses <%= link_to 'Gravatar', "http://gravatar.com/emails", target: "_blank" %> for user images.  To personalize your image follow the link above or you can change it via the <%= settings_link %>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>