<% provide(:page_title, "About") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row" id="about">
            <h1>How it works</h1>
            <div class="explanation">
              <h4>Post</h4>
              <p>A thought, question, statement, poem, photo, idea...</p>
              <p>Your post will be read, contemplated, possibly discussed amongst friends, and a response will be returned to you.</p>
              <p>That response might be funny or wise.  It may or may not be thought provoking.  But it will be crafted with care by another human being.</p>
              <h4>Respond</h4>
              <p>Be prepared to respond to anything.  Feel free to respond in any format.</p>
              <p>Wit and wisdom are welcome but not required.</p>
            </div>

            <h1>Faqs</h1>
            <div class="accordion center">

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                  <p>Is this like a pen-pal thing?</p>
                </a>
                <div id="collapseOne" class="collapse">
                  <p>
                    No.  In fact it's quite the opposite.  A brief exchange without any other obligations.  It's an anti-social correspondence.
                  </p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                  <p>What's with the 24 hour time limit?</p>
                </a>
                <div id="collapseTwo" class="accordion-body collapse">
                  <p>The time limit is to allow time for contemplation while ensuring that a thought be responded to within a reasonable amount of time.  If a response is not posted within 24 hours after viewing a thought, the thought will be made available to other users and the responder's karma will suffer.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                  <p>How long will it take to receive a response to my thought?</p>
                </a>
                <div id="collapseThree" class="accordion-body collapse">
                  <p>It's difficult to say as it depends on the number of users posting and responding.  Typically a response should be returned to you within 2 days.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                  <p>So there's only one response per thought?</p>
                </a>
                <div id="collapseFour" class="accordion-body collapse">
                  <p>Not necessarily.  A responder can choose to repost a thought when responding.  The reposted thought is then re-queued for another response.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                  <p>How do the ratings and user karma work?</p>
                </a>
                <div id="collapseFive" class="accordion-body collapse">
                  <p>The author and any reposters of a thought can rate a response to that thought.  With respect to karma, effort and thoughtfulness are rewarded.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
                  <p>What is that picture next to my name and how do I change it?</p>
                </a>
                <div id="collapseSix" class="accordion-body collapse">
                  <p>Thats your user image and Thoughtsy uses <%= link_to 'Gravatar', "http://gravatar.com/emails", target: "_blank" %> for user images.  To personalize your image follow the link above or you can also change it via the <%= settings_link %>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>