<% provide(:page_title, "About") %>

<div class="col-md-10 col-md-offset-1">
  <div class="well">
    <h1>How it works</h1>
    <div class="row">
      <h3>FAQ</h3>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseOne">
              What does FAQ stand for?
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              Frequently Asked Question.
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseTwo">
              What's a Frequently Asked Question?
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              A question which is commonly asked by users.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>