<% provide(:page_title, "About") %>
<% provide(:page_description, "What's this 'thought exchange' all about?") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row" id="about">
            <h1>About</h1>
            <div class="explanation">
              <p><span class="thoughtsy">Thoughtsy</span> is a thought exchange.<p>
              <p>A place to share what's on your mind and reflect on the thoughts of others.</p>
              <p>Ask for some specific advice or wax poetic on a topic of your choice.</p>
              <p>Be as serious or as silly as you want.</p>
              <p>Wit and wisdom are welcome but not required.</p>
            </div>
            <% if signed_in? %>
              <%= link_to "Share something!", new_post_path, class: "btn btn-lg btn-primary" %>
            <% else %>
              <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
            <% end %>

            <h1>Faqs</h1>
            <div class="accordion center">

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                  <p>I can't think of anything.  What should I post?</p>
                </a>
                <div id="collapseOne" class="accordion-body collapse">
                  <p>An anecdote.  Philosophical musings.  Advice.  A photo or piece of artwork.  Poetry.  A story.  An interesting thought or observation.  Something completely off the wall.</p>
                  <p>Don't be shy.  Get it out there.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                  <p>Why can't I choose what I respond to?</p>
                </a>
                <div id="collapseTwo" class="accordion-body collapse">
                  <p>There are a million Q&A forums and discussion boards all over the internet.  Who needs another one?  Thoughtsy is about thinking and inspiring others to do the same.  What better way to do that than to be blindsided by a random thought from the addled mind of a stranger?</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                  <p>Is this like a pen-pal thing?</p>
                </a>
                <div id="collapseThree" class="collapse">
                  <p>
                    No.  In fact it's quite the opposite.  A brief exchange without any other obligations.  A non-social correspondence.
                  </p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                  <p>What's with the 24 hour time limit?</p>
                </a>
                <div id="collapseFour" class="accordion-body collapse">
                  <p>The time limit is to allow for contemplation while ensuring that a thought be responded to within a reasonable amount of time.  If a response is not posted within 24 hours after viewing a thought, the thought will be made available to other users and the responder's karma will suffer.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                  <p>How long will it take to receive a response to my thought?</p>
                </a>
                <div id="collapseFive" class="accordion-body collapse">
                  <p>It's difficult to say as it depends on the number of users posting and responding.  Typically a response should be returned to you within 2 days.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
                  <p>How are thoughts answered?</p>
                </a>
                <div id="collapseSix" class="accordion-body collapse">
                  <p>When you click 'Post' on the main page and submit a thought; that thought enters into a queue.  Clicking the 'Respond' button pulls an available thought from the queue and allows the user to submit a response.  No other users will have access to that same thought until it is either responded to or expires after 24 hours.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseSeven">
                  <p>How many responses are there for each thought?</p>
                </a>
                <div id="collapseSeven" class="accordion-body collapse">
                  <p>The minimum number of responses to expect for any given thought is three.  Thoughts with a high average rating will remain in the queue and can be responded to by more than three users.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseEight">
                  <p>How do the ratings and user karma work?</p>
                </a>
                <div id="collapseEight" class="accordion-body collapse">
                  <p>If a user posts a thought, all responses to that thought can be rated by the user.  If a user responds to a thought, that thought and responses by other users to that thought can be rated.  Ratings help determine a thought's time in the queue.</p>
                  <p>Effort and thoughtfulness are sure ways to grow your karma.</p>
                </div>
              </div>

              <div class="accordion-group">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseNine">
                  <p>What is that picture next to my name and how do I change it?</p>
                </a>
                <div id="collapseNine" class="accordion-body collapse">
                  <p>Thats your user image and <span class="thoughtsy">Thoughtsy</span> uses <%= link_to 'Gravatar', "http://gravatar.com/emails", target: "_blank" %> for user images.  To personalize your image follow the link above or you can change it via the <%= settings_link %>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>