<% provide(:page_title, "Contact") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h1>Contact</h1>
      <div class="panel-focus">
        <p class="center">If you find a bug or have any comments or suggestions please don't hesitate to send an <%= mail_to "a.h.schiller@gmail.com", "email", subject: "Thoughtsy", target: "_blank" %>.</p>
      </div>
    </div>
  </div>
</div>