<% provide(:page_title, "Home") %>
<% provide(:page_description, "Thoughtful exchanges with total strangers") %>

<div class="row">
  <div id="title_banner">
    <h1>Thoughtsy</h1>
    <% unless signed_in? %>
      <p class="lead">thoughtful exchanges with total strangers</p>
      <div id="signup_button">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        <p>Already a user? <%= link_to "Sign in now!", signin_path %></p>
      </div>
    <% else %>
      <div class="row">
        <div id="post_response_buttons">
          <div class="col-md-3 col-md-offset-2">
            <div id="post_button">
              <%= link_to "Post!", new_post_path, class: "btn btn-lg btn-post" %>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <%= render 'static_pages/respond_button' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>