<% provide(:page_title, "Messages") %>
<% provide(:page_description, "Personal messages") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well" id="messages_index">
      <h1>
        <%= link_to gravatar_for(@user, size: 55), user_path(@user) %>
        Personal Messages
      </h1>
      <p class="profile_link"><%= link_to "Return to profile", user_path(@user) %></p>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel-focus">
            <h3>Received</h3>
            <% unless @received.empty? %>
              <%= render partial: "message", collection: @received %>
            <% else %>
              <p class="center lighter">there are no received messages</p>
            <% end %>
          </div>
          <div class="panel-focus">
            <h3>Sent</h3>
            <% unless @sent.empty? %>
              <%= render partial: "message", collection: @sent %>
            <% else %>
              <p class="center lighter">there are no sent messages</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.collapse').on('show.bs.collapse', function() {
    var $self = $(this).attr("id");
    var id = $self.replace( /^\D+/g, '');
    $.ajax({
      url: "/messages/" + id +"/view",
      type: 'PUT'
    });
    $(this).prev().find('div.strong').removeClass("strong");
    $('#notification_message').remove();
  });
</script>