<h2>Please provide your email address and follow the link to reset your password</h2>
<div class="row">
  <div class="col-md-6 col-md-offset5">
    <%= form_tag password_resets_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="actions"><%= submit_tag "Send instructions", class: "btn btn-success" %></div>
    <% end %>
  </div>
</div>