<% provide(:page_title, "Forgot Password") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h1>Forgot your password?</h1>
      <p id="password_reset">Please submit your email address and follow the emailed instructions to reset your password.  Please allow up to 15 minutes for the instructions to arrive.</p>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= form_tag password_resets_path do %>
            <div class="field">
              <%= label_tag :email %>
              <%= text_field_tag :email, params[:email], class: "form-control" %>
            </div>
            <div class="actions"><%= submit_tag "Send instructions", class: "btn btn-lg btn-primary" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>