<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @response.content %>
    </p>
    <p>
      <%= link_to "Brilliant response", response_url(@response) %>.
    </p>
  </body>
</html>