<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a response</h1>
    <p>
      You followed:
      <%= @post.content %>
    </p>
    <p>
      To see the response, head on over to <%= link_to "Thoughtsy", post_response_url(@post, @response) %>.
    </p>
  </body>
</html>