<p>Our servers have become inundated with demands for your clever yet subtle wisdom.
We had to hire a team of lackeys just to send apologetic emails concerning your absence.
The people need you.  We need you.  Please come back.</p>

<p>Click here to <%= link_to "get another thought", new_response_path, method: :get %> from Thoughtsy.com</p>