<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have an unrated response!</h1>
    <p>
      <%= @post.content %>
    </p>
    <p>
      <%= link_to "#{wrapped(@response.content)}", post_response_url(@post, @response) %>
    </p>
    <p>
      Click the link above or head to <%= link_to "Thoughtsy", root_url %> to see the response.
    </p>
  </body>
</html>