<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Thoughtsy, <%= @user.username %></h1>
    <p>
      You have successfully signed up to Thoughtsy,
      your password is: <%= @user.password %>.<br/>
    </p>
    <p>
      To see your profile and start exchanging thoughts, 
      just follow this link: <%= link_to "Profile", user_url(@user) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>