/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";*/
/* 
yellow-orange
rgb(246, 225, 167), rgb(244, 204, 93));

flat-green
rgb(242, 235, 191), rgb(165, 200, 143));

blue-yellow
rgb(237, 255, 143), rgb(50, 118, 177))
*/
/* Bootstrap Mixins and Variables */
/* Custom buttons */
.btn-post,
.btn-post:hover,
.btn-post:active {
  color: #101010;
  background-color: transparent;
  border: 1px solid #101010; }

.btn-post:hover {
  background-color: rgba(50, 118, 177, 0.9);
  border: 1px solid rgba(56, 131, 197, 0.9);
  color: #fff; }

.btn-respond,
.btn-respond:hover,
.btn-respond:active {
  color: #101010;
  background-color: transparent;
  border: 1px solid #101010; }

.btn-respond:hover {
  background-color: #e9ff76;
  border: 1px solid #d9ff10; }

/* universal */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%; }

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-image: -webkit-radial-gradient(center, circle cover, #edff8f, #3276b1);
  background-image: -moz-radial-gradient(center, circle cover, #edff8f, #3276b1);
  background-image: -o-radial-gradient(center, circle cover, #edff8f, #3276b1);
  background-image: radial-gradient(center, circle cover, #edff8f, #3276b1);
  background-attachment: fixed;
  height: 100%;
  color: #101010; }

section {
  overflow: auto; }

textarea {
  resize: vertical; }

ul {
  padding-left: 0; }

.wrapper {
  background-image: url("/assets/lightbulb-outline-opaque.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center 80%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px; }
  .wrapper .container {
    padding-top: 50px; }

.thought img, .image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }
.thought a img:hover, .image a img:hover {
  background-color: #5e96c2; }

.well {
  background-color: rgba(16, 16, 16, 0.5);
  height: 100%;
  border: none;
  margin-top: -55px;
  padding-top: 55px; }

.panel-focus {
  background-color: #ddd;
  padding: 10px; }
  .panel-focus a {
    color: #336287; }
  .panel-focus a:hover {
    color: #5e96c2;
    text-decoration: none; }

.panel-post {
  background-color: rgba(131, 174, 184, 0.2);
  border: 1px solid rgba(163, 195, 203, 0.2); }

.panel-response {
  background-color: rgba(197, 225, 150, 0.5);
  border: 1px solid rgba(175, 214, 110, 0.5); }

div.pagination {
  margin-top: 0; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
  font-variant: small-caps; }

p {
  font-size: 1.1em;
  line-height: 1.7em; }

.thoughtsy, #title_banner h1 {
  font-family: 'Merienda', cursive;
  font-variant: normal; }

.center {
  text-align: center; }

.lighter-links a, #form_hint a, #subscribe a, .profile_link a, #about .accordion a {
  color: #ccc; }
.lighter-links a:hover, #form_hint a:hover, #subscribe a:hover, .profile_link a:hover, #about .accordion a:hover {
  color: #fff;
  text-decoration: none; }

.lighter, .timestamp {
  color: #666; }

/* sidebar */
/* flash/error messages */
#js_flash_messages {
  text-align: center; }
  #js_flash_messages .alert {
    margin-bottom: 0;
    border-radius: 0;
    position: absolute;
    width: 100%; }

div #error_explanation ul {
  padding: 0; }

#error_explanation {
  margin-top: -20px;
  color: #7f2626;
  text-align: center; }

/* header */
.navbar #brand {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  margin-left: 30px; }
.navbar .navbar-right:last-child {
  margin-right: 20px !important; }
.navbar button.navbar-toggle {
  margin-right: 20px; }
.navbar .dropdown-menu a {
  display: inline-block; }
.navbar .dropdown-menu .ion {
  float: right;
  padding-top: 5px;
  padding-right: 10%;
  font-size: 18px; }

/* footer */
.footer, .push {
  height: 40px;
  margin-top: 30px; }

.footer a {
  color: #555555; }
  .footer a:hover {
    color: #222222;
    text-decoration: none; }
.footer small {
  float: left; }
.footer ul {
  float: right;
  list-style: none; }
  .footer ul li {
    float: left;
    margin-left: 35px; }

/* forms/inputs */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 20px; }

input {
  height: auto !important; }

form input.btn {
  margin-bottom: 10px; }

/* shared/thought */
.thought_wrapper .thought {
  margin: 15px; }
  .thought_wrapper .thought .thought_content {
    font-size: 1.15em;
    text-align: center; }
  .thought_wrapper .thought .thought_author {
    font-size: .85em;
    padding-top: 5px; }
    .thought_wrapper .thought .thought_author:before, .thought_wrapper .thought .thought_author:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .thought_wrapper .thought .thought_author:after {
      clear: both; }

.index_post {
  text-align: center; }
  .index_post h3 {
    line-height: 1.3;
    margin: 10px; }
  .index_post .label {
    vertical-align: bottom; }
  .index_post a {
    text-decoration: none; }
  .index_post .gravatar {
    margin-right: 10px;
    float: left; }
  .index_post .image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* Response#new Post#new */
#responder_links {
  margin-top: 5px; }
  #responder_links:before, #responder_links:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  #responder_links:after {
    clear: both; }

#spacer {
  margin-top: 30px;
  margin-bottom: 20px; }

#form_hint {
  text-align: center; }

#thought_form {
  margin-top: 30px;
  position: relative; }
  #thought_form .panel-focus {
    padding: 10px;
    margin-bottom: 0; }
    #thought_form .panel-focus textarea.form-control {
      margin-bottom: 10px; }
    #thought_form .panel-focus input.btn {
      margin-bottom: 0;
      font-size: 16px;
      padding: 6px 16px; }
    #thought_form .panel-focus .pull-right {
      text-align: right;
      margin-top: 6px;
      padding: 0; }
  #thought_form #error_explanation {
    position: absolute;
    width: 500px;
    left: 50%;
    top: -10px;
    margin-left: -250px; }

#imageModal {
  overflow-y: auto; }
  #imageModal #input_button {
    position: relative;
    width: 100px;
    height: 30px;
    overflow: hidden; }
    #imageModal #input_button button {
      display: inline-block; }
    #imageModal #input_button #picture {
      font-size: 22px;
      opacity: 0;
      filter: alpha(opacity=0);
      position: absolute;
      z-index: 1;
      top: -6px;
      right: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;
      width: 265px; }
  #imageModal #upload_button {
    margin-bottom: 0;
    float: right; }
  #imageModal button.close {
    margin-top: 4px;
    font-size: 26px; }
  #imageModal #image_filename p {
    margin: 10px 0 0; }
  #imageModal p.center {
    font-size: 12px;
    margin: 10px 0 -10px; }

/* Image#new */
#new_image .new_image_uploader {
  font-size: 16px; }
  #new_image .new_image_uploader input#picture {
    display: inline-block; }
  #new_image .new_image_uploader input.btn {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px; }

/* Posts Pages */
/* Index */
#posts_index .panel-post {
  position: relative; }
  #posts_index .panel-post .gravatar {
    float: left; }

/* Show */
#subscribe {
  text-align: center; }
  #subscribe form {
    display: inline-block;
    margin: 0; }
    #subscribe form input {
      font-family: 'Open Sans', sans-serif;
      font-size: 99%;
      padding: 0;
      border: 0;
      margin-bottom: 2px;
      color: #ccc; }
    #subscribe form input:hover {
      color: #fff;
      text-decoration: none; }

#posts_show img {
  margin-bottom: 10px; }

.responses li {
  margin: 40px 0; }

#show_post .thought_content {
  font-size: 24px;
  font-weight: 500; }
  #show_post .thought_content p {
    line-height: 1.3; }

.ratings {
  margin-top: -34px; }
  .ratings .rating_form {
    text-align: center;
    padding-bottom: 10px; }
    .ratings .rating_form form.new_rating {
      display: inline; }
      .ratings .rating_form form.new_rating input.btn {
        margin-bottom: 0; }
  .ratings .modal-content:before, .ratings .modal-content:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .ratings .modal-content:after {
    clear: both; }
  .ratings #social_links i {
    font-size: 26px;
    margin: 0 10px; }

/* User Pages */
#users_index .users {
  list-style: none;
  margin: 0; }
  #users_index .users li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eeeeee; }
    #users_index .users li aside section {
      border: 0;
      padding-top: 0; }
      #users_index .users li aside section .gravatar {
        float: left;
        margin-right: 10px; }
      #users_index .users li aside section span {
        display: block;
        margin-bottom: 3px;
        line-height: 1; }
      #users_index .users li aside section h3 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
        font-variant: small-caps; }
  #users_index .users li:first-child {
    border-top: none; }

.user_stats {
  margin: -10px auto 70px; }
  .user_stats button, .user_stats .btn {
    font-size: 20px; }
    .user_stats button a, .user_stats .btn a {
      color: #101010; }
    .user_stats button a:hover, .user_stats .btn a:hover {
      text-decoration: none; }
  .user_stats button:hover {
    background-color: #c4c4c4; }
  .user_stats .dropdown {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    .user_stats .dropdown .dropdown-menu {
      width: 179px; }
  .user_stats .badge {
    background-color: #428bca; }

.empty {
  text-align: center;
  color: #999999;
  margin: 0 0 40px; }

#profile {
  text-align: center; }
  #profile h2 {
    margin-bottom: 20px; }
  #profile .panel-focus {
    position: relative; }
    #profile .panel-focus .gravatar {
      visibility: hidden; }
    #profile .panel-focus p {
      margin-bottom: 0; }
    #profile .panel-focus .thought_author {
      padding-top: 0; }
    #profile .panel-focus .badge {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #428bca; }
  #profile #profile_response {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }

.profile_link {
  text-align: center;
  margin: -35px 0 50px; }

/* Home page */
#title_banner {
  text-align: center;
  margin-top: 10%; }
  #title_banner h1 {
    font-size: 6em;
    color: #333; }
  #title_banner p.lead {
    font-size: 2em;
    margin-top: 40px; }

#signup_button {
  margin-top: 70px;
  display: block; }
  #signup_button a.btn {
    font-size: 1.5em;
    padding: 15px 20px;
    width: 200px;
    margin-bottom: 15px; }

#post_response_buttons {
  text-align: center;
  margin-top: 70px; }
  #post_response_buttons #respond_button, #post_response_buttons #post_button {
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    vertical-align: top;
    margin-top: 40px; }
  #post_response_buttons .btn {
    width: 200px;
    padding: 15px 0;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.notifications {
  font-size: 40px; }
  .notifications a {
    color: #428bca !important; }
  .notifications a:hover {
    color: #fff !important; }

/* Messages Pages */
#messages_index .panel-focus h3 {
  text-align: center;
  margin-top: 0; }
#messages_index .modal {
  overflow-y: auto; }
  #messages_index .modal .modal-dialog {
    padding: 100px 0; }
    #messages_index .modal .modal-dialog .modal-body {
      text-align: center;
      padding-bottom: 50px; }
#messages_index div.strong {
  font-weight: bold; }

/* About, Team, Password Reset */
#about {
  text-align: center; }
  #about p {
    font-size: 1.2em; }
  #about .explanation, #about .btn {
    margin-bottom: 40px; }

#team {
  text-align: center; }

h4#password_reset {
  text-align: center;
  margin-bottom: 40px; }
