<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="messageMenu1" data-toggle="dropdown">
    Messages
    <span class="ion-email"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="messageMenu1">
    <li role="presentation" class="dropdown-header">Received Messages</li>
    <% if current_user.received_messages.each do |msg| %>
      <% if msg.viewed? %>
        <li role="presentation"><a role="menuitem" tabindex="-1">
          <%= link_to "From: #{User.find(msg.user_id).username}", user_message_path(@user, msg) %></a>
        </li>
      <% else %>
        <li role="presentation"><a role="menuitem" tabindex="-1">
          <strong><%= link_to "From: #{User.find(msg.user_id).username}", user_message_path(@user, msg) %></strong></a>
        </li>
      <% end %>
    <% end.empty? %>
      <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">empty</a></li>
    <% end %>

    <li role="presentation" class="divider"></li>

    <li role="presentation" class="dropdown-header">Sent Messages</li>
    <% if current_user.messages.each do |msg| %>
      <li role="presentation"><a role="menuitem" tabindex="-1">
        <%= link_to "To: #{User.find(msg.receiver_id).username}", user_message_path(@user, msg) %></a>
      </li>
    <% end.empty? %>
      <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">empty</a></li>
    <% end %>
  </ul>
</div>