<ul class="profile">
  <h4 class="center">Notes</h4>
  <% if current_user.received_messages.each do |msg| %>
    <% if msg.viewed? %>
      <li>
        <%= link_to "From: #{User.find(msg.user_id).username}", message_path(msg) %>
      </li>
    <% else %>
      <li>
        <strong><%= link_to "From: #{User.find(msg.user_id).username}", message_path(msg) %></strong>
      </li>
    <% end %>
  <% end.empty? %>
    <p class="center lighter">You have no received notes</p>
  <% end %>

  <% if current_user.messages.each do |msg| %>
    <li>
      <%= link_to "To: #{User.find(msg.receiver_id).username}", message_path(msg) %>
    </li>
  <% end.empty? %>
    <p class="center lighter">You have no sent notes</p>
  <% end %>
</ul>