<% provide(:page_title, "Edit profile") %>
<div class="row">
  <%= render 'shared/user_info', user: current_user %>
  
  <div class="col-md-6 col-md-offset5">
    <h1>Update your profile</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
    <% end %>
  </div>
</div>