<% provide(:page_title, "Users") %>
<div class="row">
  <h1>Users</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate %>
    <ul class="users">
      <%= render @users %>    
      <!-- Rails automatically iterates through 'User' objects rendering each in 'user' partial -->
    </ul>
    <%= will_paginate %>
  </div>
</div>