<% provide(:page_title, "Users") %>

<div class="col-md-4 col-md-offset-4">
  <div class="well"
    <div class="row" id="users_index">
      <h1>Users</h1>
      <div class="panel-focus">
        <%= will_paginate %>
        <ul class="users">
          <% @users.each do |user| %>
            <li>
              <%= render 'shared/user_info', user: user %>
            </li>
          <% end %>
        </ul>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>