<% provide(:page_title, "Sign up") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h1>Sign up</h1>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= form_for(@user) do |f| %>
            <%= render 'fields', f: f %>
            <%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
          <% end %>
          <p class="lighter-links">Already a user? <%= link_to "Sign in now!", signin_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>