<% provide(:page_title, "Sign up") %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset5">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-success" %>
    <% end %>
    <p>Already a user? <%= link_to "Sign in now!", signin_path %></p>
  </div>
</div>