<div id="image_fields_container">
  <div class="image_fields">
    <span id="input_button">
      <button class="btn btn-default">Click to upload a picture</button>
      <%= f.file_field :image, id: "picture" %>
    </span>
    <span><%= f.text_field :remote_image_url, class: "form-control", placeholder: "or an image URL" %></span>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
</div>

<!-- Displays chosen file name in button -->
<script>
  $('#picture').change(function(e) {
    var filepath = this.value;
    var m = filepath.match(/([^\/\\]+)$/);
    var filename = m[1];
    $('button').html(' -> ' + filename);
  });
</script>