<a href="https://twitter.com/intent/tweet?url=YOURURLHERE&text=YOURPOSTTITLEHERE&via=YOURTWITTERNAMEHERE">Twitter</a>

<a href="https://facebook.com/sharer.php?u=YOURURLHERE">Facebook</a>

<a href="https://plus.google.com/share?url=YOURURLHERE">Google+</a>

<a href="mailto:?subject=EMAIL_SUBJECT&body=EMAIL_BODY">Email</a>

<a href="http://pinterest.com/pin/create/button/?url=url&description=This+page+is+really+cool&media=URL of image to pin">Pinterest</a>
<!-- everything after second url is optional for adding description or photo -->

<a href="http://www.linkedin.com/shareArticle?mini=true&url=YOURURLHERE">LinkedIn</a>

<a href="http://digg.com/submit?url=YOURURLHERE">Digg</a>

<a href="http://reddit.com/submit?url=YOURURLHERE&title=YOURTITLE">Reddit</a>