<div class="rating">
  <% if @rateable.ratings == [] %>
    <p>This post has not yet been rated.</p>
  <% else %>
    <p>Average Rating: <%= average_rating %></p>
  <% end %>
</div>

<% if current_user.id != @rateable.user_id %>
  <% if @rateable.raters.include?(current_user) %>
    <div class="user_rating">
      <p>You rated this article: <%= current_user_rating %></p>
    </div>
  <% else %>
    <div class="rating-form">
      <p>Rate this post: </p>
      <%= render "ratings/form" %>
    </div>
  <% end %>
<% end %>



<!-- current_user_rating; average_rating; raters in model -->