<div id="responder_links">
  <span class="pull-left">
    <small><%= link_to "offensive or inappropriate?", flag_post_path(@post.id) %></small>
  </span>
  <span class="pull-right">
    <small><%= link_to "don't understand?", language_post_path(@post.id) %></small>
  </span>
</div>