<% provide(:page_title, "Responses") %>
<h1>Responses</h1>

<div class="row-fluid">  
  <div class="span6 offset3">
    <%= will_paginate %>
    <ol class="responses" id="responses">
      <%= render @responses %>
    </ol>
    <%= will_paginate %>
  </div>
</div>