<% provide(:page_title, "Response") %>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="well darker">
      <%= render partial: "shared/thought", object: @post %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="well">
      <%= render partial: "shared/thought", object: @response %>
    </div>
  </div>
</div>
<% if author_or_follower(@post) %>
  <%= render 'ratings/form' unless current_user.id == @response.user.id %>
<% end %>
