<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="subscribe">
      <% if @post.followers.include?(current_user) %>
        <%= render 'subscriptions/unsubscribe' %>
      <% else %>
        Liked this thought? <%= render 'subscriptions/subscribe' %> to see what others have to say about it.
      <% end %>
    </div>
  </div>
</div>