<div class="index_post">
  <h3>
    <%= link_to gravatar_for(index_post.user, size: 50), user_path(index_post.user) %>
    <%= link_to wrapped(index_post.content, 140), post_path(index_post) unless index_post.content.nil? %>
    <div class="image">
      <%= render partial: 'shared/thumb', object: index_post, locals: { path: 'post_path(index_post)' } %>
    </div>
    <span class="label label-default">responded to <%= updated_time(index_post) %></span>
  </h3>
</div>