<% provide(:page_title, "Thoughts") %>

<% @posts.each do |post| %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel index_post">
      <span>
        <%= gravatar_for(post.user, size: 50) %>
      </span>
      <p class="lead">
        <%= link_to "#{wrap(post.content)}", post_path(post) %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="responses">
      <% post.responses.descending.each do |response| %>
        <li class="list-unstyled">
          <%= render partial: "shared/thought", object: response, locals: { wrapped: true } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>