<% provide(:page_title, "Thoughts") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <% @posts.each do |post| %>
            <div class="panel-focus panel-post">
              <%= render partial: 'index_post', object: post %>
            </div>
          <% end %>
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>