<% provide(:page_title, "Thoughts") %>

<% @posts.each do |post| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well darker" id="index_thought">
      <%= render partial: "shared/thought", object: post, locals: { wrapped: true, link: true } %>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <ul class="responses">
        <% post.responses.descending.each do |response| %>
          <li class="list-unstyled">
            <%= render partial: "shared/thought", object: response, locals: { wrapped: true } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>