<% provide(:page_title, "Thoughts") %>

<% @posts.each do |post| %>

<div class="row-fluid">
  <div class="span8 offset2">
    <div class="well darker" id="index_thought">
      <%= render partial: "thought", object: post %>
    </div>
    <div class="span10 offset1">
      <ul class="responses">
        <% post.responses.descending.each do |response| %>
          <li>
            <%= render partial: "thought", object: response %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>