<% provide(:page_title, "Post") %>

<div class="well">
  <div class="row">
    <div class="row">
      <p id="form_hint">
        Not sure what to post?  Have a look at the <%= link_to "Guidelines", about_path %> or see what others have <%= link_to "posted", posts_path %>.
      </p>
      <div class="col-md-10 col-md-offset-1">
        <%= render 'post_form' %>
      </div>
    </div>
  </div>
</div>

