<% provide(:page_title, "Queue") %>
<% provide(:page_description, "Admin dashboard") %>

<h1>Queue</h1>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <td>Author</td>
    <td>Sort date (Created at)</td>
    <td>Content</td>
    <td>State (responses)</td>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<%= will_paginate %>