<% provide(:page_title, "Responses") %>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="posts_show">
          <%= render partial: "shared/thought", object: @post %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-md-8 col-md-offset-2">
    <ul class="responses_show">
      <% @responses.each do |response| %>
        <li class="list-unstyled">
          <%= render partial: "shared/thought", object: response %>
        </li>
      <% end %>
    </ul>
  </div>
</div>