<% provide(:page_title, "Responses") %>

<div class="well">
  <div class="row" id="posts_show">
    <div class="col-md-10 col-md-offset-1">
      <div class="thought_wrapper">
        <div class="panel-focus" id="show_post">
          <%= render partial: "shared/thought", object: @post %>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <ul class="responses">
          <% @responses.each do |response| %>
            <li>
              <div class="thought_wrapper">
                <div class="panel-focus">
                  <%= render partial: "shared/thought", object: response %>
                  <% if author_or_follower(@post) %>
                    <%= render partial: 'ratings/form', locals: { response: response } unless current_user.id == response.user.id %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>