@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */
/* color variables already defined by bootstrap: http://bootstrapdocs.com/v2.0.4/docs/less.html */
$grayMediumLight: #eaeaea;

@mixin box_sizing {               /* mixin works like a variable for a group of css rules */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 30px;
    font-family: 'Merienda', cursive;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;     /* SASS variable inferred from bootstrap framework (orig. LESS) */
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  .lead {
    text-align: center;
  }
}

/* header */

#logo {
  float: left;
  margin-left: 8%;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: thin;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Bootstrap btn-success coloring */
#logo {
  color: #5bb75b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#logo:hover,
#logo:focus,
#logo:active,
#logo.active,
#logo.disabled,
#logo[disabled] {
  color: #51a351;
}

#logo:active,
#logo.active {
  color: #408140 \9;
}

#nav-links {
  margin-right: 20%
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;      /* uses SASS mixin to include box-sizing rules as stated above */
}

/* mockup */

.hero-unit {
  background-color: $grayMediumLight;
  margin-bottom: 0;
}

body {
  background-color: $grayMediumLight;
}

.row-fluid .well {
  margin-left: 0;
}

#thought {
  background-color: #ddd;
  margin-bottom: 8%;
  text-align: center;
}

span #text-input {
  margin-bottom: 0;
}

#classic-responses {
  margin: 0 0;
  padding: 0 2%;
  h3 {
    text-align: center;
  }
}

div #centered {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top-users {
  text-align: center;
  margin-left: 0;
}