@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

/* mixins, variables, etc. */
/* color variables already defined by bootstrap: http://bootstrapdocs.com/v2.0.4/docs/less.html */
/* @mixin variable { ... }    in CSS:  @include variable;
 
/* universal */

  html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    background-image: -webkit-radial-gradient(center, circle cover, rgb(246, 225, 167), rgb(244, 204, 93));
    height: 100%;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  ul {
    padding-left: 0;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
    .container {
      padding-top: 50px;
    }
  }

  .well {
    border: 1px solid darken($well-bg, 16%);
  }

  .gravatar {
    @extend .img-circle;
  }

/* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-variant: small-caps;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    color: $gray-light;     /* SASS variable inferred from bootstrap framework (orig. LESS) */
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  .center {
    text-align: center;
  }

  .lighter {
    color: $gray-light;
  }

  .darker {
    background-color: #ddd;
  }

  .row {
    margin: 0;
  }

  .timestamp {
    color: $gray-light;
  }

/* rating form behaviors */

  form.new_rating {
    display: inline;
  }

  #rating_form {
    text-align: center;
  }

  #social_links {
    i {
      font-size: 26px;
      margin: 0 10px;
    }
  }

/* flash messages */

  #js_flash_messages {
    text-align: center;
    
    .alert {
      margin-bottom: 0;
      border-radius: 0;
      position: absolute;
      width: 100%;
    }
    /*  
      z-index: 1050;
      margin: 2px 0;
      height: 46px;
      width: 20%;
      position: absolute;
      left: 40%;
    }*/
    /* centering method with fluid layouts and absolute positioning */

  }

  div #error_explanation {
    ul {
      padding: 0 0;
    }
  }

/* header */

  #logo {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    margin-left: 20px;
  }

  .navbar-right:last-child {
    margin-right: 20px !important;
  }

  button.navbar-toggle {
    margin-right: 20px;
  }

/* footer */

  .footer, .push {
    height: 40px;
    margin-top: 30px;
  }

  .footer {
    color: $gray-light;
    a {
      color: $gray;
      &:hover {
        color: $gray-darker;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 35px;
      }
    }
  }

/* forms/inputs */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 20px;
  }

  input {
    height: auto !important;
  }

  form input.btn {
    margin-bottom: 20px;
  }

  #error_explanation {
    @extend .alert;
    @extend .alert-danger;
    @extend .alert-block;
    text-align: center;
    .alert {
      width: 50%;
      margin: 15px auto;
    }
    color: #f00;
    ul {
      list-style: none;
    }
  }

  .field_with_errors {
    @extend .control-group.danger;
    @extend .label-danger
  }

  #image_fields_container {
    text-align: right;
    margin: 0;
    padding: 0;
    .image_fields {
      display: inline-block;
      margin-top: 5px;
      input[type="text"] {
        width: 200px;
        margin-bottom: 0;
        margin-left: 10px;
        display: inline-block;
      }
      #input_button {
        position:relative;
        width: 100px;
        height: 30px;
        overflow:hidden;
        button {
          display: inline-block;
        }
        input {
          font: 14px monospace;
          opacity: 0;
          filter: alpha(opacity=0);
          position: absolute;
          z-index: 1;
          top:0;
          right:0;
          padding:0;
          margin: 0;
          cursor: pointer;
        }
      }
    }
  }

/* Users index */

  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $gray-lighter;
    }
  }

/* Response#new */

  #responder_links {
    margin-top: 5px;
    form {
      margin: 0;
      input {
        font-family: 'Open Sans', sans-serif;
        font-size: 95%;
        padding: 0;
        border: 0;
      }
    }
  }

  #time_explanation {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #response_form {
    margin-top: 30px;
    #submit {
      padding-left: 0;
    }
  }

/* Posts#index #show */

  .index_post {
    padding: 10px;
    margin-bottom: 0;
    .lead {
      font-weight: 400;
      margin-bottom: 0;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    img {
      margin-top: 5px;
    }
  }

  .responses {
    margin: 20px 0 40px;
  }

  .responses_show {
    margin-top: 40px;
  }

/* shared/thought */
  
  .thought_content, .wrapped_thought_content {
    font-size: 1.15em;
  }

  .thought {
    margin: 15px;
  }

  .thought_author {
    font-size: .85em;
    padding-top: 5px;
  }

/* debug */

  /* uses SASS mixin to include box-sizing rules as stated above */

  /*.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;      
  }*/

  /*  <%= debug(params) if Rails.env.development? %>  */

/* User Profile */

  .profile {
    list-style: none;
    margin: 10px 0 0 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #FFF;
    }
  }

  .post_response {
    padding-top: 5px;
    overflow: auto;
  }

  #notes {
    margin-top: 100px;
  }
