@import "custom.css.scss";

@media screen and (max-width: 500px) {

  p {
    font-size: .9em;
    line-height: 1.5em;
  }

  .navbar #brand {
    margin-left: 10px;
  }

/* Home Page */
  #title_banner {
    margin-top: 0;
    h1 {
      font-size: 5em;
      color: #333;
    }
    p.lead {
      font-size: 1.5em;
      margin-top: 40px;
    }
  }

  #signup_button {
    margin-top: 50px;
  }

  #post_response_buttons {
    margin-top: 20px;
  }

/* Posts#Index */
  #posts_index, #profile_post {
    margin-left: -10px;
    margin-right: -10px;
    padding: 3px;
    .panel-focus {
      padding: 3px;
    }
    h3 {
      font-size: 18px;
    }
  }

  #posts_show {
    .panel-focus {
      margin-right: -5px;
      margin-left: -5px;
    }
  }

/* Users#Show */
  #profile {
    .profile_header {
      .gravatar {
        display: none;
      }
    }
    .public_posts, .personal_posts {
      .thought_content {
        font-size: 16px;
      }
    }
    .panel-focus {
      margin-right: -5px;
      margin-left: -5px;
      h3 {
        font-size: 18px;
      }
      .badge {
        top: -4px;
        right: -4px;
      }
    }
    #profile_response {
      width: 100%;
    }
  }

  /* #Edit */
  #edit_user {
    .gravatar {
      display: none;
    }
    .update_gravatar {
      font-size: 14px;
    }
    input.btn-primary {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {

  .profile_link {
    margin-top: -20px;
  }

  .user_score {
    display: none;
  }

  .panel-response {
    .current_user_rating, .rating_form {
      padding-top: 30px;
    }
  }

  #responder_links {
    .ratings {
      margin-top: 15px;
    }
  }

  .user_stats {
    margin-bottom: 20px;
    span.text {
      display: none;
    }
    .fa {
      margin-left: 0;
      font-size: 24px;
    }
    .dropdown-menu {
      width: 160px !important;
      left: -55px;
      a {
        font-size: 12px !important;
      }
    }
  }

  #thought_form, .thought_wrapper {
    margin: 30px -10px 10px;
    .panel-focus {
      padding: 3px;
    }
  }

  #messages_index {
    .gravatar {
      display: none;
    }
  }
}