@import "custom.css.scss";

/* HOME page */

#title_banner {
  text-align: center;
  padding: 10% 0;
  /*border-bottom: lightgray solid 2px;*/
  h1 {
    font-size: 6em;
    margin-bottom: 40px;
    font-family: 'Merienda', cursive;
    font-variant: normal;
  }
  p.lead {
    font-size: 2em;
  }
  #signup_button {
    margin-top: 40px;
    display: block;
    a.btn {
      padding: 10px 35px;
      margin-bottom: 15px;
    }
  }
}

#post_form {
  width: 80%;
  margin: -25px auto 25px;
  .new_post {
    margin-bottom: 0;
    div#submit {
      padding: 0;
    }
    .field_with_errors {
      text-align: center;
      display: inline;
    }
  }
}

#user_banner {
  position: relative;
  #respond_button {
    position: relative;
    float: right;
    max-width: 237px;
    text-align: center;
    top: 10px;
    right: 0;
    form {
      margin-bottom: 0;
      input {
        margin-bottom: 10px;
        padding: 16px 36px;
      }
    }
    #expiration_message {
      color: $gray-light;
      top: 65px;
    }
    #no_unanswered {
      color: $gray-light;
      position: relative;
      top: 10px;
      float: right;
    }
  }
}

/* sidebar */

  aside {
    section {
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

  .sidebar {
    padding-top: 10px;
    padding-left: 0;
    position: absolute;
  }

  #notification_area {
    padding-top: 25px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }
