@import "custom.css.scss";

/* HOME page */

#title_banner {
  text-align: center;
  margin: -20px auto 50px;
  h1 {
    font-size: 6em;
    font-family: 'Merienda', cursive;
    font-variant: normal;
  }
  p.lead {
    font-size: 2em;
    margin: 40px auto 70px;
  }
}

#signup_button {
  display: block;
  a.btn {
    font-size: 1.5em;
    padding: 15px 20px;
    width: 200px;
    margin-bottom: 15px;
  }
}

#absolute_center {
  width: 100%;
  display: table;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
  
#post_response_buttons {
  text-align: center;
  #respond_button, #post_button {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin-top: 40px;
  }
  .btn {
    width: 200px;
    padding: 15px 0;
    font-size: 1.5em;
    @include center-block();
  }
}

/*#user_banner {
  position: relative;
  #respond_button {
    position: relative;
    float: right;
    max-width: 237px;
    text-align: center;
    top: 10px;
    right: 0;
    form {
      margin-bottom: 0;
      input {
        padding: 16px 36px;
      }
    }
    #expiration_message {
      position: absolute;
      text-align: center;
      color: $gray-light;
      top: 65px;
    }
    #no_unanswered {
      color: $gray-light;
      position: relative;
      top: 10px;
      float: right;
    }
  }
}*/

/* sidebar */
/*
  .sidebar {
    padding-top: 10px;
    padding-left: 0;
    position: absolute;
  }

  #notification_area {
    padding-top: 25px;
  }*/