<footer class="footer">
  <small>
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons License</a>
    | madA.reverse
  </small>
  <nav>
    <ul>
      <li><%= link_to "Team",    team_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>