<div class="container">
  <small>
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons License</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Team",    team_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>