<div class="container">
  <div class="cc_license">
    <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">C.C. License</a>
  </div class="cc_license">
  <nav>
    <ul>
      <li><%= link_to "Team",    team_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>