<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Thoughtsy", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right" id="nav-links">
          <li><%= link_to "How it works", about_path %></li>
          <li><%= link_to "Mockup",      mockup_path %></li> 
          <li><%= link_to "Sign in",   new_user_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>