<% if unrated_array(current_user).any? %>
  <li class="notifications" id="notification_response" data-toggle="tooltip" data-placement="bottom" title="You have <%= pluralize(unrated_array(current_user).count, 'unrated response') %>">
    <%= link_to('', unrated_response_path(current_user), class: "fa fa-comments") %>
  </li>
<% end %>
