<% if current_user.received_messages.unread.any? %>
  <li class="notifications" id="notification_message" data-placement="bottom" title data-original-title="You have <%= unread_message_text(current_user) %>">
    <%= link_to('', user_messages_path(current_user), class: "ion ion-email") %>
  </li>
<% end %>